.main-view {
  position: relative;
  width: 100%;
}

.livro-fechado {
  min-width: 55vw;
  max-width: 60vw;
  transform: translate(-50%, 5%);
  transition: all 3s ease-out;
}

.hero-image {
  position: absolute;
  min-width: 55vw;
  max-width: 60vw;
  transform: translate(-50%, 5%);
}

.mada-design {
  position: absolute;
  max-width: 160vw;
  transform: translate(-50%, 5%);
}

.hero-animation {
  animation: MoveUpDown 3s linear infinite;
}
/*
.lapis {
  position: absolute;
  max-width: 190px;
  left: 25.8%;
  top: 6.9%;
}

.musica {
  position: absolute;
  max-width: 260px;
  left: 19.2%;
  top: 5%;
  transform: translate(0, 117%);
}

.nuvem {
  position: absolute;
  width: 20%;
  right: 19.9%;
  top: 12%;
}

.livro {
  position: absolute;
  width: 25.5%;
  right: 30.5%;
  top: 5%;
  transform: translate(0, 113%);
}

.pc {
  position: absolute;
  width: 20%;
  right: 21.4%;
  top: 5%;
  transform: translate(0, 220%);
}*/

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
  .hero-image {
    top: 5vh;
    max-width: 80vw;
    min-width: 70vw;
  }
}

@keyframes MoveUpDown {
  0%,
  100% {
    top: 5%;
  }
  50% {
    top: 2vh;
  }
}
