.main-view {
  position: relative;
  width: 100%;
}

.mada-design {
  position: absolute;
  width: 50%;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lapis {
  position: absolute;
  width: 15%;
  left: 27%;
  top: 5%;
}

.musica {
  position: absolute;
  width: 20%;
  left: 20.4%;
  top: 5%;
  transform: translate(0, 117%);
}

.nuvem {
  position: absolute;
  width: 20%;
  right: 19.9%;
  top: 12%;
}

.livro {
  position: absolute;
  width: 25.5%;
  right: 30.5%;
  top: 5%;
  transform: translate(0, 113%);
}

.pc {
  position: absolute;
  width: 20%;
  right: 21.4%;
  top: 5%;
  transform: translate(0, 220%);
}
