.contacto {
  position: relative;
  width: 100%;
}

.contacto > div > p {
  margin: 0;
  padding: 0;
}

.text {
  position: absolute;
  left: 1rem;
  bottom: 120px;
}

.m {
  font-family: "Bely BoldV";
  font-size: "10rem";
  margin-bottom: "-7rem";
}

.i {
  font-family: "Bely Regular";
  font-size: "10rem";
  margin-left: "15rem";
}

.face {
  position: absolute;
  right: 10vw;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  border-radius: 50%;
  bottom: 120px;
}

.insta {
  position: absolute;
  right: 3vw;
  width: 60px;
  height: 60px;
  cursor: pointer;
  bottom: 120px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 480px) {
  .face {
    width: 40px;
    height: 40px;
    right: 25vw;
  }

  .insta {
    width: 40px;
    height: 40px;
    right: 10vw;
  }

  .m {
    font-size: 4.5rem;
  }

  .i {
    font-size: 4rem;
  }
}
