.contacto {
  position: relative;
  width: 100%;
}

.contacto > div > p {
  margin: 0;
  padding: 0;
}

.text {
  position: absolute;
  left: 1rem;
  bottom: 170px;
  max-width: 100%;
}

.media {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 120px;
  right: 2rem;
  height: 60px;
  width: calc(120px + 2rem);
}

.face {
  height: 60px;
  width: 60px;
  cursor: pointer;
  border-radius: 50%;
}

.insta {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 480px) {
  .m {
    font-size: 6rem !important;
    margin-bottom: -1rem !important;
  }

  .i {
    font-size: 6rem !important;
    margin-left: 20% !important;
    margin-bottom: 5rem !important;
  }
}
