@import "../../App.css";

.header {
  display: flex;
  flex-direction: row;
  font-size: 1.3rem;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100vw;
  z-index: 1000;
}

.name {
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
  cursor: pointer;
}

.navbar {
  font-family: Bely Regular;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 2rem;
}

.navbar > p {
  margin-left: 2rem;
  cursor: pointer;
}

.fist-name {
  font-size: 1.35rem;
  font-family: Bely BoldV;
}

.last-name {
  font-family: Bely Regular;
}

/* Extra small devices (phones) */
@media only screen and (max-width: 480px) {
  .header {
    align-items: center;
    justify-content: center;
  }

  .navbar {
    height: auto;
    margin: 0;
  }

  .navbar > p {
    width: 100%;
    margin-top: 1rem;
    text-align: center;
    margin-left: 0;
    font-size: 1.3rem;
  }
}

/* Big Desktop */
@media only screen and (min-width: 1281px) {
  .navbar > p {
    font-size: 30px;
  }

  .fist-name {
    font-size: 32px;
  }

  .last-name {
    font-size: 30px;
  }
}
