:root {
  --backgroundColor: black;
  --textColor: white;
}

body {
  background-color: var(--backgroundColor);
  color: var(--textColor);
  padding: 0%;
  margin: 0%;
}

.App {
  text-align: center;
  width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: "Bely BoldV";
  src: url("./BelyW03Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Bely Regular";
  src: url("./FontsFree-Net-Bely-Display-W00-Regular.ttf") format("truetype");
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}
