.book {
  font-family: "Bely BoldV";
  font-size: 2rem;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}

/* used in mobile */
.flip-book {
  border: 1px solid white;
}

.flip-book > div > div > div {
  border: none;
}

.flip-book > div > div > div > p {
  text-align: center;
  padding: 0;
}

.demoPage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  border: 1px solid white;
  background-color: black;
}

.demoPage > p {
  padding-left: 5rem;
  padding-right: 5rem;
  margin: 0;
  font-size: 2.5rem;
}

.demoPage > p:nth-child(1) {
  padding-top: 4rem;
}

.about {
  margin-top: 6rem;
  width: 100%;
  margin-left: -3rem;
}
